
body {
  font-family: Arial, sans-serif; /*  estili de letra */
  background: #fff8e7;  /* color de fondo*/
  text-align: center; /* dejat todo en el centro dey dentro del body*/
  padding: 20px; /*20px lo qu esta dentro del contenedor con el borde */
  margin: 0;/* es no dejar espacio al contedenor */

}

.volver {
    background-color: #BBFAFC;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 40px;
    box-shadow: 0px 4px 6px #25baf0; /* es para darle sombreado al boton*/
    font-weight: bold; /* Dejarlo con Nergita */
    position: fixed;


}

.volver:hover {
    transform: scale(1.1);/*es para darñe una escala del 10% cambiando su tamaño */
}


h1 {
    font-size: 4rem; /* rem le estoy dando cuatro veces su tamaño del que viene por defecto */
    color: #2b77d1; /* color a la letra */
    margin: 0;
    text-shadow: 2px 2px 0px #fff, 4px 4px 0px #000;
}


.contenedor-episodios {
  display: grid; /* Perdime dividir una página o sección en una cuadricula flexible y ordenada */
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr)); /* para organizar en el tamaño de la cuadricula */
  gap: 25px;  /* Para crear un espacio de un cuador a otro */
  justify-content: center; /* Dejar todo centrado */
  padding: 20px;
  margin-top: 20px;
}

.card-episodio {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden; /* para que el, contenido no se desvorde*/
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s; /* Esta linea crea una animación de 3seg que el elemnto cambia de tamaño posicion o sombra*/
}

.card-episodio:hover {
  transform: scale(1.03);/*es para darle una escala del 3% cambiando su tamaño suave  a los cuadros o imagenes  */
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.3);
}

.card-episodio img {
  width: 100%;
  height: 200px;
  object-fit: cover; /* para que la imagen se ajuste al espacion del contenedor */
}

.card-episodio h3 {
  margin: 10px;
  color: #333;
  font-size: 18px;
}

/* ---------- DETALLE (MODAL) ---------- */


.tarjeta-detalle {
  background: #fff;
  border-radius: 20px;
  padding: 20px;
  width: 90%;
  max-width: 900px; /* tamaño máximo más grande */
  text-align: center;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column; /* Para que quende en columna */
  align-items: center;
  justify-content: center;
  position: fixed;  /* para que quede centrada en pantalla */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  max-height: 90vh; /* límite de alto para no desbordar */
  overflow: hidden;/* evitar scroll  y ajustarlo a contenedor */
  
}

.tarjeta-detalle img {
  width: 50%;
  max-height: 190px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}

.tarjeta-detalle h2 {
  color: #ffb400;
  margin-bottom: 0px;
}

.tarjeta-detalle p {
  color: #333;
  margin: 5px 0;
  font-size: 14px;
  line-height: 1.3;
}

/* ---------- BOTON VOLVER ---------- */
.btn-volver {
  background: #BBFAFC;
  border: none;
  padding: 8px 18px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  box-shadow: 0 4px 6px #25baf0;
  transition: transform 0.3s, background 0.3s;
}

.btn-volver:hover {
  transform: scale(1.05);
  background-color: #9cf0f3;
}

/* ----- botones de anterior y siguiente ----- */
button {
    background-color: #f4e6c4;
    border: none;
    color: #333;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 6px 6px 15px #000;
    margin-bottom: 20px;
    font-weight: bold ;
}

button:hover:not(:disabled) {
    background-color: #fff8e7;
    transform: scale(1.05);
}

button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
    opacity: 0.7;


}



















.overlay-detalle {
  display: none;
  position: fixed; 
   /* inset: 0;  */
 background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 10;  /* Sobre sale el 10%de la pagina real */
}